*{
    padding: 0px;
    margin: 0px;
}
.menu-container{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    padding10px;
    align-items: center;
}
.menus{
    list-style: none;
    display: flex;
    gap: 10px;
    font-style: italic;
}
.banner-container{
    height: 100vh;
    background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-heading{
    font-size: 45px;
    color:white;
}
.red{
    color: red;
}
.banner-description{
    color: white;
    font-size: 12px;
    margin-top: 5px;


}
.btn-red{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
}
.btn-gray{
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    margin-top: 5px;
}
.service-container{
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    height: 100vh;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 200px;
}
.icon{
    width: 70px;
    height: 70px;
}
.icon-box{
    height: 180px;
    width: 180px;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
}
.first-two-box{
    display: flex;
    gap: 5px;
    text-align: center;
}
.second-two-box{
    display: flex;
    gap: 5px;
    margin-top: 3px;
    text-align: center;
}
.service-title{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.service-description{
    margin-bottom: 5px;
    font-size: 14px;
}
.left-side-colum, li{
    font-size: 14px;
}
.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.profile-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid red;
    padding-right: 20px;
    margin-top: 10px;
}
.profile-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.red-box{
    width: 800px;
    height: 150px;
    background-color: tomato;
    border-radius: 10px;
    margin: auto;
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: -20px;
}
.telephone{
    width: 70px;
    height: 70px;
}
.phone-icon{
    display: flex;
    text-align: center;
}
.number{
    font-size: 10px;
    margin-top: 20px;
}
.last-button{
    padding: 5px 10px;
    border: none;
    background-color: whitesmoke;
}
.footer-box{
    width: 150px;
    height: 100px;}
.footer-img{
    width: 180px;
    height: 140px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.footer-head{
    font-size: 13px;
    margin-bottom: 5px;
}
.footer-description{
    font-size: 14px;
}
.footer-title{
    font-size: 45px;
    text-align: center;
    
    margin-bottom: 40px;
    padding-top: 50px;
}
footer{
    height: 90vh;
    background-color: gray;
    width: 80%;
    margin: auto;
   
}
.footer-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

